@use './variables' as v;
@use './mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: v.$color-black;
    color: v.$color-white;
    background-image: url('./../img/background.gif');
    overflow: hidden;
    cursor: url('./../img/cursor.png'), auto;
    font-family: Audiowide, sans-serif;
}

.canvas {
    background-image: url('./../img/background.gif');
}

.counter {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 6rem;
}

.levelInfo {
    width: 270px;
    height: 70px;
    background-image: url('./../img/Table.png');
    background-size: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2.2rem;

    animation: show 1s ease-in-out;
}

.gameOverInfo {
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: v.$color-loss;

    position: absolute;
    top: 3rem;
    left: 50%;

    transform: translateX(-50%);
}

.startScreen {
    width: 100vw;
    height: 100vh;
    background-image: url('./../img/background-start-screen.png');

    text-transform: uppercase;

    &__menu {
        @include window;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
            margin-top: 0.8rem;
        }

        &__button {
            @include bigButton;

            &--start {
                background-image: url('./../img/Start_BTN.png');
                margin-top: 5.5rem;
            }

            &--exit {
                background-image: url('./../img/Exit_BTN.png');
                margin-top: 1rem;
            }

            &--start,
            &--exit {
                border-radius: 20px;

                &:hover {
                    box-shadow: 0 0 10px 3px v.$color-white, 0 0 5px 9px inset v.$color-white;
                    transform: scale(1.02);
                }

                &:active {
                    transform: scale(1);
                }
            }

            &--sound {
                width: 50px;
                height: 50px;
                background-image: url('./../img/Sound_BTN.png');
                margin-top: 2rem;
                border-radius: 10px;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                &.hideLine::after {
                    display: none;
                }

                &:hover {
                    box-shadow: 0 0 10px 2px white, 0 0 5px 3px inset white;
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(1);
                }

                &::after {
                    content: '';
                    position: absolute;

                    width: 100%;
                    height: 5px;
                    background-color: red;

                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.result {
    @include window;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &__trophyImg {
        width: 160px;
        margin: 1rem 0;
    }

    &__heading {
        font-size: 1.6rem;
    }

    &__score {
        font-size: 1.6rem;
        margin: 0.6rem 0 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        &__message {
            font-size: 1.4rem;
        }

        &__input {
            color: hsl(229, 46%, 42%);
            font-size: 1.6rem;
            text-align: center;
            font-weight: bold;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: v.$color-white;
            padding: 0.4rem 0;
            width: 100%;

            &:focus {
                box-shadow: 0 0 3px 3px inset hsl(229, 46%, 42%);
            }
        }

        &__error {
            color: #ff6363;
        }

        &__button {
            @include smallButton;

            background-image: url('../img/Rating_BTN.png');
        }
    }
}

.leaderboard {
    @include window;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-transform: uppercase;

    &__title {
        text-align: center;
        margin-top: 0.8rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;

        &__button {
            @include smallButton;

            &:hover {
                box-shadow: 0 0 10px 2px white, 0 0 5px 3px inset white;
                transform: scale(1.05);
            }

            &--menu {
                background-image: url('./../img/Menu_BTN.png');
            }

            &--exit {
                background-image: url('./../img/Close_BTN.png');
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        margin: 2rem 0 1.5rem;

        &__result {
            display: flex;
            width: 80%;
            background-color: hsla(210, 91%, 67%, 0.2);
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            font-weight: bold;

            &__place {
            }

            &__name {
            }

            &__points {
                margin-left: auto;
            }
        }
    }
}

.hide {
    display: none;
}

.mask {
    visibility: hidden;
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 60px));
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
