@use './variables' as v;

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: v.$color-black;
    background-image: url('./../img/background.gif');
    overflow: hidden;
    cursor: url('./../img/cursor.png'), auto;
}

.canvas {
    background-image: url('./../img/background.gif');
}

.counter {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: v.$color-white;
    font-size: 6rem;
    font-family: Audiowide;
}

.startScreen {
    width: 100vw;
    height: 100vh;
    background-image: url('./../img/background-start-screen.png');

    font-family: Audiowide, sans-serif;
    color: v.$color-white;
    text-transform: uppercase;

    &__menu {
        width: 640px;
        height: 480px;
        background-image: url('./../img/Window.png');
        background-size: cover;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &__title {
            margin-top: 0.8rem;
        }

        &__button {
            border: none;

            width: 300px;
            height: 85px;
            background-color: transparent;
            background-size: cover;
            cursor: inherit;
            transition: all 0.1s;

            &--start {
                background-image: url('./../img/Start_BTN.png');
                margin-top: 5.5rem;
            }

            &--exit {
                background-image: url('./../img/Exit_BTN.png');
                margin-top: 1rem;
            }

            &--start,
            &--exit {
                border-radius: 20px;

                &:hover {
                    box-shadow: 0 0 10px 3px v.$color-white, 0 0 5px 9px inset v.$color-white;
                    transform: scale(1.02);
                }

                &:active {
                    transform: scale(1);
                }
            }

            &--sound {
                width: 50px;
                height: 50px;
                background-image: url('./../img/Sound_BTN.png');
                margin-top: 2rem;
                border-radius: 10px;
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;

                &.hideLine::after {
                    display: none;
                }

                &:hover {
                    box-shadow: 0 0 10px 2px white, 0 0 5px 3px inset white;
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(1);
                }

                &::after {
                    content: '';
                    position: absolute;

                    width: 100%;
                    height: 5px;
                    background-color: red;

                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.leaderboard {
    width: 640px;
    height: 480px;
    background-image: url('./../img/Window.png');
    background-size: cover;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: Audiowide, sans-serif;
    color: v.$color-white;
    text-transform: uppercase;

    &__title {
        text-align: center;
        margin-top: 0.8rem;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;

        &__button {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            border: none;
            background-color: transparent;
            background-size: cover;
            cursor: inherit;
            transition: all 0.1s;

            &:hover {
                box-shadow: 0 0 10px 2px white, 0 0 5px 3px inset white;
                transform: scale(1.05);
            }

            &--menu {
                background-image: url('./../img/Menu_BTN.png');
            }

            &--exit {
                background-image: url('./../img/Close_BTN.png');
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        margin: 2rem 0 1.5rem;

        &__result {
            display: flex;
            width: 80%;
            background-color: hsla(210, 91%, 67%, 0.2);
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            font-weight: bold;

            &__place {
            }

            &__name {
            }

            &__points {
                margin-left: auto;
            }
        }
    }
}
